body{
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
}
html {
  font-size: 20px;
}
.blue {
  color: skyblue;
}
.pink {
  color: rgb(255, 192, 203);
}
#first-heading {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.2em;
  text-shadow: 2px 2px 2px grey;
  border-bottom: solid 3px rgb(115, 115, 114)
}
.bold {
  font-weight: bold;
}